<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>      
</head>

<body>

<div id="app">    
    <global-head></global-head>

    <div :style="{ fontSize: postFontSize + 'em' }">
        <blog-post
            v-for="post in posts"
            v-bind:key="post.id"
            v-bind:post="post"                        
            v-on:enlarge-text="postFontSize += 0.1"
        ></blog-post>
    </div>

    <!-- <button-counter>es local de app2, no va en app</button-counter> -->
</div>

<div id="app2">
    <global-head></global-head>
    <button-counter></button-counter>
    <button-counter></button-counter>

    <div>
        <human-data 
            v-for="human in humans"
            v-bind:key="human.id"            
            v-bind:name="human.name"
            v-bind:age="human.age"
            v-bind:other="human.other"            
            >
        </human-data>
    </div>
        
    
</div>           

<script src="app.js"></script>

</body>
</html>