<html>
    <head>
        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    </head>
    <body>

        <div id="app">
            {{ message }}
        </div> 

        <div id="app2">
            <span v-bind:title="message">
                Hover your mouse over me for a few seconds
                to see my dynamically bound title!
            </span>
        </div>

        <div id="app3">
            <span v-if="seen">
                Now you see me
            </span>
        </div>

        <div id="app4">
            <ol>
               <li v-for="(item, index) in todos" :key="index">
                 {{ item.text }}
               </li>   
            </ol>
        </div>

        <div id="app5">
            <p>{{ message }}</p>
            <button v-on:click="reverseMessage">Reverse message</button>
        </div>

        <div id="app6">
            <p>{{ message }}</p>
            <input v-model="message" type="text" />
        </div>

        <div id="app7">
            <ol>
                <todo-item
                    v-for="item in graceryList" 
                    v-bind:todo="item"
                    v-bind:key="item.id">
                ></todo-item>
            </ol>
        </div>

        <div id="app8">
            <a v-bind:href="attValue">{{urlName}}</a>
            <a :href="attValue">{{urlName}}</a>
            <a v-on:click="doSomething">ClickMe</a>
            <a @click="doSomething">ClickMe</a>
        </div>

        <div id="example">
            <p>Original message: "{{ message }}"</p>
            <p>Computed reverse message: "{{ reversedMessage }}"</p>
            <p>Hora: "{{ now }}"</p>
        </div>

        <div id="watch-example">
            <p>
              Ask a yes/no question:
              <input v-model="question">
            </p>
            <p>{{ answer }}</p>
          </div>

        <script src="index.js"></script>
    </body>
</html>